@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  color: rgb(238, 238, 238);
  background: rgb(35, 35, 35);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Cabin', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


